@value colors: "./base.module.scss";
@value input-label from colors;
@value input-border from colors;
@value input-text from colors;
@value select-arrow from colors;
@value select-true from colors;
@value select-false from colors;

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.formTitle {
  display: flex;
  flex: 0 0 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.inputGroup {
  margin-top: 24px;
  
}

.inputLabel {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: input-label;
  margin-bottom: 8px;
}

.selectContainer {
  position: relative;
  &::after {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    z-index: -2;
    pointer-events: none;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: select-arrow transparent transparent transparent;
    content: "";
  }
}


input,
select {
  width: 100%;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 16px;
  border: 1px solid input-border;
  border-radius: 4px;
  background-color: transparent;
}

//input不知為何多32px的padding
input {
  width: calc(100% - 34px);
  color: input-text;
}

select {
  color: select-true;
  background-color: transparent;

  &:required:invalid {
    color: select-false;
  }

  cursor: pointer;
  -webkit-appearance: none;

  option {
    &[value=""][disabled] {
      display: none;
    }

    color: select-true;
  }
}

.formBody {
  width: 100%;
}